# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
env/
venv/
.venv/

# Archivos estáticos generados
staticfiles/

# Archivos subidos por usuarios
media/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db