

<header class="header" id="navbar-collapse-toggle">
    <!-- Fixed Navigation Starts -->
    <ul class="icon-menu d-none d-lg-block revealator-slideup revealator-once revealator-delay1">
        <li class="icon-box active">
            <i class="fa fa-home"></i>
            <a href="{% url 'inicio' %}">
                <h2>Inicio</h2>
            </a>
        </li>
        <li class="icon-box">
            <i class="fa fa-user"></i>
            <a href="{% url 'perfil' %}">
                <h2>Perfil</h2>
            </a>
        </li>
        <li class="icon-box">
            <i class="fa fa-briefcase"></i>
            <a href="{% url 'portafolio' %}">
                <h2>Portafolio</h2>
            </a>
        </li>
        <li class="icon-box">
            <i class="fa fa-envelope-open"></i>
            <a href="{% url 'contacto' %}">
                <h2>Contacto</h2>
            </a>
        </li>

    </ul>
    <!-- Fixed Navigation Ends -->
    <!-- Mobile Menu Starts -->
    <nav role="navigation" class="d-block d-lg-none">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="list-unstyled" id="menu">
                <li class="active"><a href="{% url 'inicio' %}"><i class="fa fa-home"></i><span>Inicio</span></a></li>
                <li><a href="{% url 'perfil' %}"><i class="fa fa-user"></i><span>Perfil</span></a></li>
                <li><a href="{% url 'portafolio' %}"><i class="fa fa-folder-open"></i><span>Portafolio</span></a></li>
                <li><a href="{% url 'contacto' %}"><i class="fa fa-envelope-open"></i><span>Contacto</span></a></li>
            </ul>
        </div>
    </nav>
    <!-- Mobile Menu Ends -->
</header>